h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 40px;
}

.write-form {
    width: 70%;
    margin: 30px auto;
}

.card {
    width: 70%;
    margin: 10px auto;
    border: none;
    background-color: #eef4f6;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: #afd3df 2px 2px
}

.card-btn {
    border: none;
    background-color: #81a7d0;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.card-btn:hover {
    background-color: #1b74d4;
}