h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 40px;
}

.write-form {
    width: 70%;
    margin: 30px auto;
}

.list {
    padding: 10px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-btn {
    border: none;
    background-color: #81a7d0;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.card-btn:hover {
    background-color: #1b74d4;
}